# Copiar este archivo a ".env" y ajustar los valores si es necesario

# Configuración de la base de datos

# Motor de base de datos: mysql o pgsql
DB_DRIVER=mysql

DB_HOST=localhost

# Puertos por defecto:
# mysql = 3306
# pgsql = 5432
DB_PORT=3306

DB_NAME=slim_php
DB_USER=root
DB_PASS=root
